SECRET_KEY=django-insecure-replace-this-with-a-long-random-string-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend

DB_NAME=treatyiq
DB_USER=treatyiq
DB_PASSWORD=treatyiq_password
DB_HOST=db
DB_PORT=5432

CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,http://localhost:80

# S3 Document Storage (set USE_S3=True di production)
USE_S3=False
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=treatyiq-documents
AWS_S3_REGION_NAME=ap-southeast-3
AWS_S3_ENDPOINT_URL=https://s3.ap-southeast-3.amazonaws.com
